/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFBDA;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.container {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.main-title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section {
    margin-bottom: 20px;
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.section h2 {
    color: #001f3f;
    font-size: 24px;
    text-align: center;
}

.section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.section table th,
.section table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.section table th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #001f3f;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #004080;
}

@media print {
    @page {
        size: A4 landscape;
        margin: 10mm;
    }
    body {
        background-color: #fff;
        width: 100%;
    }
    .container {
        box-shadow: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .button {
        display: none;
    }
    .section-wrapper {
        flex-direction: row;
    }
    .section {
        page-break-inside: avoid; /* Prevent page break inside sections */
    }
    .section table {
        font-size: 10px; /* Reduce the font size for printing */
        width: 100%; /* Ensure the table width is 100% */
    }
    .section table th,
    .section table td {
        padding: 4px; /* Reduce padding for printing */
    }
    .section h2 {
        font-size: 16px; /* Reduce the heading size for printing */
    }
    .main-title {
        font-size: 24px; /* Reduce the main title size for printing */
    }
    .section.notes p {
        font-size: 8px; /* Reduce the notes font size for printing */
    }
}
